---
layout: default
---

<!-- {% include hero-with-image.html title=page.summary image="/img/layouts/home/index.jpg" %} -->

<section class="section-blue section-main" >
  <div class="fr-container">
    <div class="fr-grid-row fr-grid-row--gutters fr-pt-6w">
      <div class="fr-col fr-col-12 fr-col-md-6">
        <h1>La radio qui cherche les problèmes !</h1>
        <a class="fr-btn fr-btn--md fr-enlarge-link fr-btn--secondary button-white" href="/approche">Découvrir le programme</a>
      </div>
      <div class="fr-col fr-col-12 fr-col-md-6">
        <div class="home-hero-anim">
          <object data="/assets/home/listen-music.svg" id="hero-anim-background"></object>
        </div>
      </div>
    </div>
  </div>
  <div id="hero-anim-hand-1-container">
    <object data="/assets/home/heroanim/hand1-shape.svg" id="hero-anim-hand-1-shape"></object>   
    <object data="/assets/home/heroanim/hand1-2.svg" id="hero-anim-hand-1"></object>
  </div>
  <object data="/assets/home/heroanim/hand2-2.svg" id="hero-anim-hand-2"></object>
  <object data="/assets/home/heroanim/hand3-2.svg" id="hero-anim-hand-3"></object>
</section>
<section class="fr-py-6w section-product">
  <div class="fr-container">
    <h2 class="section-title">En direct</h2>
<iframe src="https://radiocast.robiweb.net/public/radio_betagouv/embed?theme=light" frameborder="0" allowtransparency="true" style="width: 100%; min-height: 150px; border: 0;"></iframe>
  </div>
</section>
<section class="fr-py-6w section-blue">
<div class="fr-container">
  <div class="fr-grid-row fr-grid-row--center">
    <div>
      <h2 class="section-title">Donnez votre voix !</h2>
      <h4 class="section-description">
        Radio BetaGouv, ce sont les voix<br>
<span class="section-highlight">des membres de BetaGouv</span>
      </h4>
      <div class="fr-grid-row fr-grid-row--center fr-grid-row--gutters startups fr-py-6w">
        <a class="fr-btn fr-btn--md button-white-border fr-btn--secondary fr-enlarge-link" href="/devenir-intrapreneur">Devenir radio betagouveur</a>
      </div>
      <div class="fr-grid-row fr-grid-row--gutters startups">
        <div class="fr-col-12 fr-col-md-6">
          <div class="fr-card fr-card--no-arrow">
            <div class="fr-card__body"> 
              <div class="home-team-animation-container">
                <object data="/assets/home/coach_back.svg" class="home-team-animation-background"></object>    
                <object data="/assets/home/coach.svg" class="home-team-animation-foreground"></object>
              </div>      
              <h3 class="fr-card__title">
                Jingle
              </h3>
              <!-- <p class="fr-card__detail">{{ startup.owner | strip_html }}</p> -->
              <p class="fr-card__desc">Envoyez votre voix, nous en ferons un jingle</p>
            </div>
          </div>
        </div>
        <div class="fr-col-12 fr-col-md-6">
          <div class="fr-card fr-card--no-arrow">
            <div class="fr-card__body">  
              <div class="home-team-animation-container">
                <object data="/assets/home/intra_back.svg" class="home-team-animation-background"></object>    
                <object data="/assets/home/intra.svg" class="home-team-animation-foreground"></object>
              </div>       
              <h3 class="fr-card__title">
                Playlist
              </h3>
              <!-- <p class="fr-card__detail">{{ startup.owner | strip_html }}</p> -->
              <p class="fr-card__desc">
                Envoyez votre playlist, nous la diffuserons sur la radio
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>
</div>
</section>
<section class="fr-py-6w section-principle">
  <div class="fr-container">
    <div class="centered">
      <h2 class="section-title">Radio Betagouv<br> <span style="color: #4941C0">en 3 points</span></h2>
    </div>
    <div class="fr-grid-row fr-grid-row--center fr-grid-row--gutters startups">
      <div class="fr-col-12 fr-col-md-4">
        <object data="/assets/home/manifest.svg" class="section-principle-animation"></object>              
      </div>
      <div class="fr-py-6w fr-col-12 fr-col-md-8">
        <p class="section-principle-list-item">
          <span class="section-principle-list-item-number">1.</span>
          <span class="section-principle-list-item-content">Une radio pour la communauté BetaGouv</span>
        </p>
        <p class="section-principle-list-item">
          <span class="section-principle-list-item-number">2.</span>
          <span class="section-principle-list-item-content">Une radio par la communauté BetaGouv</span>.
        </p>
        <p class="section-principle-list-item">
          <span class="section-principle-list-item-number">3.</span>
          <span class="section-principle-list-item-content">Il faut toujours 3 points</span>.
        </p>
        <a class="fr-btn fr-btn--md fr-btn--secondary fr-enlarge-link" href="/approche/manifeste">Lire notre raison d'être</a>
      </div>      
    </div>
  </div>
</section>
<hr>
<script type="text/javascript">
  var hand1 = document.getElementById('hero-anim-hand-1');
  var hand2 = document.getElementById('hero-anim-hand-2');
  var hand3 = document.getElementById('hero-anim-hand-3');
  var herobg = document.getElementById('hero-anim-background');
  var teambg = document.getElementsByClassName('home-team-animation-background');
  var teamcontainer = document.getElementsByClassName('section-blue')[1];
  window.addEventListener('scroll', function() {
    var value = window.scrollY
    var containerElement = teamcontainer.getBoundingClientRect()
    var bodyRect = document.body.getBoundingClientRect();
    var offset = containerElement.top - (bodyRect.top + window.innerHeight);
    if (value > offset && value < (containerElement.top + window.innerHeight - bodyRect.top)) {
      const val = value - containerElement.height;  
      for (var i = 0; i < teambg.length; i++) {
        teambg[i].style.transform = 'scale('+ (1 + ((0.2*val)/containerElement.height)) + ')';
      }
    }
    // animation on hero banner
    // if (value < 300) {
    //   const svg = document.querySelector('#hero-anim-hand-1-container')
    //   svg.style.transform = 'translateX(' + (-value * 0.4) + 'px)';
    //   const svg2 = document.querySelector('#hero-anim-hand-2')
    //   svg2.style.transform = 'translateX(' + (-value * 0.3) + 'px)';

    //   const svg3 = document.querySelector('#hero-anim-hand-3')
    //   svg3.style.transform = 'translate(' + (-value * 0.2) + 'px,' + (-value * 0.1) + 'px )';
    // }
  })

</script>
